<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">MAPAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper style="border: 2px solid lightgrey; box-shadow: 2px 5px 2px rgba(0 0 0 / 0.6); border-radius: 10px; padding: 10px; margin: 10%;"[config]="config">
    <ng-template swiperSlide *ngFor="let img of [2]">
      <h3 style="color: black;text-align: center;">Plaza Bonilla - Lo Lillo</h3>
      <img src="assets/{{ img }}.png" tappable (click)="openPreview(img)">
    </ng-template>
  </swiper>
</ion-content>

<ion-footer align="center">
  <ion-icon size="large" routerLink="/home" name="home"></ion-icon>
</ion-footer>
