ion-content {
    margin: 20px;
    --background: -webkit-linear-gradient(lightyellow, lightgreen);
}

h3 {
    margin-top: 10px;
}

img {
    margin-top: 5px;
    border-radius: 10px;
}

img:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
