ion-content {
    --background: transparent;
}

@media screen and (max-height: 890px) {

    ion-popover {
      text-align: center;
      position: fixed;
      margin-top: 5%;
      --background: rgba(248, 250, 250, 0.543);
      --backdrop-opacity: 0.6;
      --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
      --color: white;
      --width: 300px;
      --height: 400px;
      z-index: 4;
      vertical-align: middle !important;
      left: 15%;
      transform: translate( -15%, -15%);
    }

    .popup-image {
      height: 50%;
      margin-top: 10%;
    }

    audio {
      width: 80%;
    }

    .img {
      width: 30%;
      height: 30%;
    }
  
    ion-popover ion-content {
      --background: rgba(140, 201, 223, 0.7);
      display: flex;
      vertical-align: middle !important;
      padding-top: 10px;
      top: 5%;
      left: 5%;
      transform: translate( -5%, -5%);
    }
    
    ion-popover::part(backdrop) {
      background-color: rgba(6, 14, 106, 0);
      height: 100%;
      width: 100%;
    }
  
    #peumo-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      /*
      margin-top: 165px;
      margin-left: 105px;
      */
    }
  
    #grevillea-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      position: absolute;
      /*
      margin-top: 198px;
      margin-left: 20px;
      */
    }
  
    #casuarina-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      position: absolute;
      /*
      margin-top: 215px;
      margin-left: 125px;
      */
    }
  
    #palma-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      position: absolute;
      /*
      margin-top: 310px;
      margin-left: 80px;
      */
    }
  
    #sterculia-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      position: absolute;
      /*
      margin-top: 350px;
      margin-left: -75px;
      */
    }
  
    #parkinsonia-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      position: absolute;
      /*
      top: 420px;
      left: 115px;
      */
    }
  
    #catalpa-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      position: absolute;
      /*
      top: 425px;
      left: 230px;
      */
    }
  
    #acacio-po {
      background-color: rgba(85, 182, 199, 0);
      height: 60px;
      width: 60px;
      border-radius: 200px;
      position: absolute;
      /*
      top: 490px;
      left: 130px;
      */
    }
  }

ion-footer {
    margin-bottom: 10px;
}

swiper {
    height: 100%;
}