<ion-content>
  <swiper [config]="config" #swiper>
    <ng-template swiperSlide>
      <div class="swiper-zoom-container">
        <img src="assets/{{ img }}.png" usemap="#ohiggins">

        <map name="ohiggins" style="z-index: 10;">
          <!-- BOTÓN SOBRE AREA DEL PEUMO - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="peumo-po" fill="clear" size="cover">
            <area shape="circle" coords="120, 145, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="peumo-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/PeumoPO2.jpg" />
                <p><b>PEUMO</b><br>(Cryptocarya Alba)</p>
                <!--
                <button id="boton-popup" class="btn btn-primary" (click)="playPeumo()"><ion-icon id="popup-play" name="play-circle-outline"></ion-icon><h4></h4></button>
                -->
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/PEUMO1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA GREVILLEA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="grevillea-po" fill="clear" size="cover">
            <area shape="circle" coords="200, 165, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="grevillea-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/GrevilleaPO2.jpg" />
                <p><b>GREVILLEA</b><br>(Grevillea Robusta)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/GREVILLEA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA CASUARINA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="casuarina-po" fill="clear" size="cover">
            <area shape="circle" coords="290, 180, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="casuarina-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/CasuarinaPO2.jpg" />
                <p><b>CASUARINA</b><br>(Casuarina Equisetifolia)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/CASUARINA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA PALMA DE LAS CANARIAS - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="palma-po" fill="clear" size="cover">
            <area shape="circle" coords="250, 240, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="palma-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/PalmaCanariasPO.jpg" />
                <p><b>PALMA DE LAS CANARIAS</b><br>(Phoenix Canariensis)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/PALMERA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA STERCULIA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="sterculia-po" fill="clear" size="cover">
            <area shape="circle" coords="100, 270, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="sterculia-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/SterculiaRosadaPO.jpg" />
                <p><b>STERCULIA ROSADA</b><br>(Brachychiton Discolor)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/STERCULIA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA PARKINSONIA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="parkinsonia-po" fill="clear" size="cover">
            <area shape="circle" coords="135, 300, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="parkinsonia-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/ParquisoniaPO2.jpg" />
                <p><b>PARKINSONIA</b><br>(Parkinsonia Aculeata)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/PARQUINSONIA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA CATALPA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="catalpa-po" fill="clear" size="cover">
            <area shape="circle" coords="250, 355, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="catalpa-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/CatalpaPO2.jpg" />
                <p><b>CATALPA</b><br>(Catalpa Bignoniodes)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/CATALPA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DEL ACACIO - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="acacio-po" fill="clear" size="cover">
            <area shape="circle" coords="160, 380, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="acacio-po" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/AcacioPO2.jpg" />
                <p><b>ACACIO</b><br>(Robinia Pseudoacacia)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/OHiggins/ACACIO1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

        </map>

      </div>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="close()" fill="clear" color="light">
        <ion-icon name="close" slot="start"></ion-icon>
        CERRAR
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
