  <!--

<ion-header>
  <ion-toolbar>
    <ion-title>hc-bonilla</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <img class="hc-image" src="../assets/images/ArbolesApp/AlamoBLL.jpg">
        <h1>
          NOMBRE COMÚN
        </h1>
        <p>
          Nombre Científico
        </p>
        <audio width="150px" controls="controls" autoplay="false">
          <source src="assets/audio/Bonilla/ALAMO1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img class="hc-image" src="../assets/images/ArbolesApp/AlamoBLL.jpg">
        <h1>
          NOMBRE COMÚN
        </h1>
        <p>
          Nombre Científico
        </p>
        <audio width="150px" controls="controls" autoplay="false">
          <source src="assets/audio/Bonilla/ALAMO1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>
          HOLAAAAAAAAA DE NUEVO
        </p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>
          IIIIIIIIIIIIIIIII
        </p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer align="center">
  <ion-icon size="large" routerLink="/home" name="home"></ion-icon>
</ion-footer>
