<ion-header>
  <ion-toolbar>
    <ion-title>Plaza O'Higgins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mapa">

  <ion-button id="peumo-po" fill="clear" size="cover"></ion-button>
    <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="peumo-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/PeumoPO2.jpg" />
          <p><b>PEUMO</b><br>(Cryptocarya Alba)</p>
          <!--
          <button id="boton-popup" class="btn btn-primary" (click)="playPeumo()"><ion-icon id="popup-play" name="play-circle-outline"></ion-icon><h4></h4></button>
          -->
          <audio width="150px" controls="controls">
            <source src="assets/audio/OHiggins/PEUMO1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-button id="grevillea-po" fill="clear" size="cover"></ion-button>
    <ion-popover [isOpen]="isPopoverOpen" alignment="bottom" trigger="grevillea-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/GrevilleaPO2.jpg" />
          <p><b>GREVILLEA</b><br>(Grevillea Robusta)</p>
          <audio width="150px" controls="controls">
            <source src="assets/audio/OHiggins/GREVILLEA1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-button id="casuarina-po" fill="clear" size="cover"></ion-button>
    <ion-popover [isOpen]="isPopoverOpen" side="bottom"  alignment="bottom" trigger="casuarina-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/CasuarinaPO2.jpg" />
          <p><b>CASUARINA</b><br>(Casuarina Equisetifolia)</p>
          <audio width="180px" controls="controls">
            <source src="assets/audio/OHiggins/CASUARINA1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-button id="palma-po" fill="clear" size="cover"></ion-button>
    <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="palma-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/PalmaCanariasPO.jpg" />
          <p><b>PALMA DE LAS CANARIAS</b><br>(Phoenix Canariensis)</p>
          <audio width="150px" controls="controls">
            <source src="assets/audio/OHiggins/PALMERA1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-button id="sterculia-po" fill="clear" size="cover"></ion-button>
    <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="sterculia-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/SterculiaRosadaPO.jpg" />
          <p><b>STERCULIA ROSADA</b><br>(Brachychiton Descolor)</p>
          <audio width="150px" controls="controls">
            <source src="assets/audio/OHiggins/STERCULIA1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-button id="parkinsonia-po" fill="clear" size="cover"></ion-button>
    <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="parkinsonia-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/ParquisoniaPO2.jpg" />
          <p><b>PARKINSONIA</b><br>(Parkinsonia Aculeata)</p>
          <audio width="150px" controls="controls">
            <source src="assets/audio/OHiggins/PARQUINSONIA1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-button id="catalpa-po" fill="clear" size="cover"></ion-button>
    <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="catalpa-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/CatalpaPO2.jpg" />
          <p><b>CATALPA</b><br>(Catalpa Bignoniodes)</p>
          <audio width="150px" controls="controls">
            <source src="assets/audio/OHiggins/CATALPA1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-button id="acacio-po" fill="clear" size="cover"></ion-button>
    <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="acacio-po" triggerAction="click">
      <ng-template>
        <ion-content id="popup" class="ion-padding">
          <img class="popup-image" src="../assets/images/ArbolesApp/AcacioPO2.jpg" />
          <p><b>ACACIO</b><br>(Robina Pseudoacacia)</p>
          <audio width="150px" controls="controls">
            <source src="assets/audio/OHiggins/ACACIO1.mp3" type="audio/mpeg" />
            Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
          </audio>
        </ion-content>
      </ng-template>
    </ion-popover>

</ion-content>

<ion-footer align="center">
  <ion-button class="map" fill="clear" style="width: 90%;" routerLink="/mapas">
    VOLVER<br>(Listado de mapas)
  </ion-button>
</ion-footer>