#container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: fluid;
    left: 0;
    right: 0;
    top: 50%;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .img {
    width: 50%;
    height: 50%;
  }
  
  ion-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  ion-button {
    height: 40px;
    color: lightyellow;
    font-weight: 600;
    font-size: medium;
    border-radius: 5px;
    background-color: #27AE60;
  }

  ion-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

  ion-content.mapa {
    position: relative;
    z-index: 2;
    --background: url(/assets/images/Mapas/PlazaOHiggins.jpg) 0 0/100% 100% no-repeat;
    zoom: normal;
  }

  /*
  ion-content:hover {
    transform: scale(3);
    scroll-behavior: auto;
    display: flexbox;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  */

  ion-row {
    height: 45px;
  }

  ion-col {
    width: 10%;
  }

  .botones {
    position: absolute;
    z-index: 3;
  }

  /*
  #arbol1 {
    background-color: transparent;
    float: left;
    height: 0px;
    width: 100px;
    margin: 100px 0px 0px 200px;
  }

  #arbol2 {
    background-color: transparent;
    float: left;
    height: 0px;
    width: 100px;
    margin: 300px 0px 0px 250px;
  }
  */

  ion-popover {
    text-align: center;
    position: fixed;
    --background: rgba(248, 250, 250, 0.543);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 300px;
    --height: 400px;
    z-index: 4;
    vertical-align: middle !important;
    left: 15%;
    transform: translate( -15%, -15%);
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 5%;
    transform: translate( -5%, -5%);
  }

  ion-popover ion-content {
    --background: rgba(140, 201, 223, 0.7);
    display: flex;
    vertical-align: middle !important;
    padding-top: 10px;
    top: 5%;
    left: 5%;
    transform: translate( -5%, -5%);
  }
  
  ion-popover::part(backdrop) {
    background-color: rgba(6, 14, 106, 0);
    height: 100%;
    width: 100%;
  }

  #boton-popup {
    background-color: transparent;
    height: 0px;
    width: 100px;
  }

  #boton-popup:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow*/
}

#popup-play {
  color: green;
  height: 80px;
  width: 80px;
}

/* COORDENADAS PARA ANDROID */
@media screen and (max-height: 890px) {

  ion-popover {
    text-align: center;
    position: fixed;
    --background: rgba(248, 250, 250, 0.543);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 300px;
    --height: 400px;
    z-index: 4;
    vertical-align: middle !important;
    left: 15%;
    transform: translate( -15%, -15%);
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 5%;
    transform: translate( -5%, -5%);
  }

  ion-popover ion-content {
    --background: rgba(140, 201, 223, 0.7);
    display: flex;
    vertical-align: middle !important;
    padding-top: 10px;
    top: 5%;
    left: 5%;
    transform: translate( -5%, -5%);
  }
  
  ion-popover::part(backdrop) {
    background-color: rgba(6, 14, 106, 0);
    height: 100%;
    width: 100%;
  }

  #peumo-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    margin-top: 165px;
    margin-left: 105px;
  }

  #grevillea-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 198px;
    margin-left: 20px;
  }

  #casuarina-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 215px;
    margin-left: 125px;
  }

  #palma-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 310px;
    margin-left: 80px;
  }

  #sterculia-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 350px;
    margin-left: -75px;
  }

  #parkinsonia-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 420px;
    left: 115px;
  }

  #catalpa-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 425px;
    left: 230px;
  }

  #acacio-po {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 490px;
    left: 130px;
  }
}
  
  /* COORDENADAS PARA IOS */

  @media screen and (min-height: 890px) {

  #peumo-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    margin-top: 180px;
    margin-left: 110px;
  }

  #grevillea-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 198px;
    margin-left: 25px;
  }

  #casuarina-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 215px;
    margin-left: 130px;
  }

  #palma-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 325px;
    margin-left: 80px;
  }

  #sterculia-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 370px;
    margin-left: -85px;
  }

  #parkinsonia-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 455px;
    left: 110px;
  }

  #catalpa-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 480px;
    left: 230px;
  }

  #acacio-po {
    background-color: rgba(85, 182, 199, 0);
    height: 120px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 540px;
    left: 150px;
  }
}

  audio {
    width: 150px;
  }

  audio.controls {
    height: 150px;
  }

  .popup-image {
    border-radius: 10px;
    height: 200px;
  }