#container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content.mapas {
    --background: -webkit-linear-gradient(black, green);
  }
  
  .img {
    width: 50%;
    height: 50%;
  }

  h1 {
    color: white;
    font-size: xx-large;
  }
  
  ion-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  ion-button {
    height: 70px;
    color: black;
    font-weight: 600;
    font-size: larger;
    border-radius: 5px;
    box-shadow: #000 0 0 15px;
    background-color: #27AE60;
}

  #boton-ohiggins {
    height: 120px;
    color: black;
    font-weight: 600;
    font-size: xx-large;
    border-radius: 5px;
    box-shadow: #000 0 0 15px;
    background-color: cyan;
  }

  #boton-bonilla {
    height: 120px;
    color: black;
    font-weight: 600;
    font-size: xx-large;
    border-radius: 5px;
    box-shadow: #000 0 0 15px;
    background-color: greenyellow;
  }

  ion-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}