<ion-header>
  <ion-toolbar>
    <ion-title>MAPAS (high contrast)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center" class="mapas">
  <br>
  <h1>Seleccionar Mapa</h1>
  <br><br>
  <ion-button (click)="showLoading()" id="boton-ohiggins" fill="clear" style="width: 80%;" routerLink="/hc-ohiggins">
    PLAZA<br>O'HIGGINS
  </ion-button>
  <br><br>
  <ion-button id="boton-bonilla" fill="clear" style="width: 80%;" routerLink="/hc-bonilla">
    PLAZA<br>BONILLA<br>LO LILLO
  </ion-button>
</ion-content>

<ion-footer align="center">
  <ion-icon size="large" routerLink="/home" name="home"></ion-icon>
</ion-footer>