#container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content.home {
  --background: -webkit-linear-gradient(lightblue, lightgreen);
}

.img {
  width: 50%;
  height: 50%;
}

ion-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

#button1 {
  height: 70px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  box-shadow: #000 0 0 15px;
  background-color: #27AE60;
}

#button2 {
  height: 70px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  box-shadow: #000 0 0 15px;
  background-color: #fb9313;
}

#button3 {
  height: 70px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  box-shadow: #000 0 0 15px;
  background-color: #b2304d;
}

#button4 {
  height: 70px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  box-shadow: #000 0 0 15px;
  background-color: #64b3c3;
}

#button5 {
  height: 50px;
  color: black;
  font-weight: 600;
  font-size: medium;
  border: 5px solid #000;
  border-radius: 5px;
  box-shadow: #000 0 0 15px;
  background-color: white;
}

ion-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

ion-card {
  background-color: #fb9313;
}

ion-card-content {
  background-color: transparent;
}