<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Árboles Ciudadanos
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content class="home" [fullscreen]="false">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.facebook.com/organismo.teatro/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button href="https://www.instagram.com/organismo.teatro/?hl=es-la"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button href="https://mobile.twitter.com/organismoteatro"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Árboles Ciudadanos</ion-title>
    </ion-toolbar>
  </ion-header>
<!--
  <ion-text color="black">
    <h1>ÁRBOLES CIUDADANOS</h1>
  </ion-text>
-->

  <div id="container">
    <ion-img style="height: 300px;" class="logo-home" src="../assets/images/ArbolesCiudadanos2icon.png"></ion-img><br>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button id="button1" routerLink="/instrucciones" routerDirection="forward" color="button" expand="full" size="large" fill="clear">
            INSTRUCCIONES
          </ion-button><br>
          <ion-button id="button3" routerLink="/mapa-ohiggins" routerDirection="forward" expand="full" size="large" fill="clear">
            <ion-icon slot="star" name="star"></ion-icon>
            MAPAS
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button id="button2" routerLink="/arboles-ciudadanos" routerDirection="forward" expand="full" size="large" fill="clear">
            <ion-icon slot="star" name="star"></ion-icon>
            QUIÉNES<br>SOMOS
          </ion-button><br>
          <ion-button id="button4" routerLink="/testimonios" routerDirection="forward" expand="full" size="large" fill="clear">
            <ion-icon slot="star" name="star"></ion-icon>
            DÉJANOS<br>TU RELATO
          </ion-button>
        </ion-col>
        <!--
        <ion-col size="12">
          <ion-button id="button5" routerLink="/hc-audios" routerDirection="forward" expand="full" size="large" fill="clear">
            <ion-icon slot="star" name="star"></ion-icon>
            ALTO CONTRASTE<br>(visión reducida)
          </ion-button>
        </ion-col>
        -->
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-img style="height: 70px; align-content:flex-start;" class="logo--footer-home" src="../assets/images/logo-cuadrado.png"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-img style="height: 70px;" class="logo-footer-home" src="../assets/images/logo-sochar.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <!--
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    -->
  </div>
</ion-content>
