<ion-content>
  <swiper [config]="config" #swiper>
    <ng-template swiperSlide>
      <div class="swiper-zoom-container">
        <img src="assets/{{ img2 }}.png" usemap="#bonilla">

        <map name="bonilla" style="z-index: 12;">
          <!-- BOTÓN SOBRE AREA DEL PEUMO - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="alamo-pb" fill="clear" size="cover">
            <area shape="circle" coords="100, 80, 35">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="alamo-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/AlamoBLL.jpg" />
                <p><b>ÁLAMO</b><br>(Populus Deltoides)</p>
                <!--
                <button id="boton-popup" class="btn btn-primary" (click)="playPeumo()"><ion-icon id="popup-play" name="play-circle-outline"></ion-icon><h4></h4></button>
                -->
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/ALAMO1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA GREVILLEA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="maiten-pb" fill="clear" size="cover">
            <area shape="circle" coords="200, 80, 30">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="maiten-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/MaitenBLL.jpg" />
                <p><b>MAITÉN</b><br>(Maitenus Boaria)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/Maiten1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA CASUARINA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="cipres-pb" fill="clear" size="cover">
            <area shape="circle" coords="250, 80, 30">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="cipres-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/CipresBLL.jpg" />
                <p><b>CIPRÉS</b><br>(Cupressus Macrocarpa)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/CIPRES2.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA PALMA DE LAS CANARIAS - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="melia-pb" fill="clear" size="cover">
            <area shape="circle" coords="120, 160, 30">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="melia-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/MeliaBLL.jpg" />
                <p><b>MELIA</b><br>(Melia Azedarach)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/MELIA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA STERCULIA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="palma-pb" fill="clear" size="cover">
            <area shape="circle" coords="165, 270, 30">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="palma-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/PalmeraBLL.jpg" />
                <p><b>PALMA ABANICO</b><br>(Washingtonia Robusta)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/PALMERA1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA PARKINSONIA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="ombu-pb" fill="clear" size="cover">
            <area shape="circle" coords="115, 350, 30">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="ombu-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/OmbuBLL.jpg" />
                <p><b>OMBÚ</b><br>(Phytolacca Dioica)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/OMBU1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DE LA CATALPA - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="pimiento-pb" fill="clear" size="cover">
            <area shape="circle" coords="320, 355, 30">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="pimiento-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/PimientoBLL.jpg" />
                <p><b>PIMIENTO</b><br>(Schinus Molle)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/PIMIENTO1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

          <!-- BOTÓN SOBRE AREA DEL ACACIO - ÉSTE DESPLIEGA EL POPOVER CON LA INFO Y AUDIO -->
          <ion-button id="olivo-pb" fill="clear" size="cover">
            <area shape="circle" coords="270, 400, 30">
          </ion-button>
          <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="bottom" trigger="olivo-pb" triggerAction="click">
            <ng-template>
              <ion-content id="popup" class="ion-padding">
                <img class="popup-image" src="../assets/images/ArbolesApp/OlivoBLL.jpg" />
                <p><b>OLIVO DE BOHEMIA</b><br>(Elaeagnus angustifolia)</p>
                <audio width="150px" controls="controls">
                  <source src="assets/audio/Bonilla/OLIVO1.mp3" type="audio/mpeg" />
                  Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
                </audio>
              </ion-content>
            </ng-template>
          </ion-popover>

        </map>

      </div>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="close()" fill="clear" color="light">
        <ion-icon name="close" slot="start"></ion-icon>
        CERRAR
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
