#container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  ion-content.mapa {
    position: relative;
    z-index: 2;
    --background: url(/assets/images/Mapas/PlazaBonilla.jpeg) 0 0/100% 100% no-repeat;
    zoom: normal;
  }
  
  .img {
    width: 50%;
    height: 50%;
  }

  #mapa {
    height: fill;
  }

  ion-popover {
    text-align: center;
    position: fixed;
    --background: rgba(248, 250, 250, 0.543);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 300px;
    --height: 400px;
    z-index: 4;
    vertical-align: middle !important;
    left: 15%;
    transform: translate( -15%, -15%);
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 5%;
    transform: translate( -5%, -5%);
  }

  ion-popover ion-content {
    --background: rgba(140, 201, 223, 0.7);
    display: flex;
    vertical-align: middle !important;
    padding-top: 20px;
    top: 5%;
    left: 5%;
    transform: translate( -5%, -5%);
  }
  
  ion-popover::part(backdrop) {
    background-color: rgba(6, 14, 106, 0);
    height: 100%;
    width: 100%;
  }
  
  ion-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  ion-button {
    height: 40px;
    color: lightyellow;
    font-weight: 600;
    font-size: medium;
    border-radius: 5px;
    box-shadow: #000 0 0 15px;
    background-color: #27AE60;
  }

  #popup {
    position: static;
    text-align: center;
    background-color: white;
    width: auto;
    height: auto;
  }

  #boton-popup {
    background-color: transparent;
    height: 0px;
    width: 100px;
  }

  .popup-image {
    border-radius: 10px;
    height: 200px;
  }

  #popup-play {
    color: green;
    height: 80px;
    width: 80px;
  }

  ion-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

@media screen and (max-height: 890px) {
#alamo-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  position: absolute;
  border-radius: 200px;
  margin-top: 90px;
  margin-left: 55px;
  box-shadow: none;
}

#maiten-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  border-radius: 200px;
  position: absolute;
  margin-top: 90px;
  margin-left: 150px;
  box-shadow: none;
}

#cipres-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  border-radius: 200px;
  position: absolute;
  margin-top: 90px;
  margin-left: 220px;
  box-shadow: none;
}

#melia-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  border-radius: 200px;
  position: absolute;
  margin-top: 185px;
  margin-left: 85px;
  box-shadow: none;
}

#palma-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  border-radius: 200px;
  position: absolute;
  margin-top: 320px;
  margin-left: 140px;
  box-shadow: none;
}

#ombu-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  border-radius: 200px;
  position: absolute;
  top: 460px;
  left: 70px;
  box-shadow: none;
}

#pimiento-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  border-radius: 200px;
  position: absolute;
  top: 460px;
  left: 310px;
  box-shadow: none;
}

#olivo-pb {
  background-color: rgba(85, 182, 199, 0);
  height: 60px;
  width: 60px;
  border-radius: 200px;
  position: absolute;
  top: 535px;
  left: 255px;
  box-shadow: none;
}
}

@media screen and (min-height: 890px) {

  #alamo-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 200px;
    margin-top: 100px;
    margin-left: 55px;
    box-shadow: none;
  }
  
  #maiten-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    box-shadow: none;
  }
  
  #cipres-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 100px;
    margin-left: 220px;
    box-shadow: none;
  }
  
  #melia-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 210px;
    margin-left: 85px;
    box-shadow: none;
  }
  
  #palma-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    margin-top: 410px;
    margin-left: 140px;
    box-shadow: none;
  }
  
  #ombu-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 530px;
    left: 70px;
    box-shadow: none;
  }
  
  #pimiento-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 530px;
    left: 320px;
    box-shadow: none;
  }
  
  #olivo-pb {
    background-color: rgba(85, 182, 199, 0);
    height: 60px;
    width: 60px;
    border-radius: 200px;
    position: absolute;
    top: 630px;
    left: 250px;
    box-shadow: none;
  }
}

audio {
  width: 150px;
}

audio.controls {
  height: 150px;
}

.popup-image {
  border-radius: 10px;
  height: 200px;
}