<ion-header>
  <ion-toolbar>
    <ion-title>Plaza Bonilla - Lo Lillo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mapa">
 
  <ion-button id="alamo-pb" fill="clear" size="cover"></ion-button>
  <ion-popover class="pop-over" [isOpen]="isPopoverOpen" alignment="center" trigger="alamo-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/AlamoBLL.jpg" />
        <p><b>ÁLAMO</b><br>(Populus Deltoides)</p>
        <audio width="150px" controls="controls">
          <source src="assets/audio/Bonilla/ALAMO1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button id="maiten-pb" fill="clear" size="cover"></ion-button>
  <ion-popover [isOpen]="isPopoverOpen" alignment="center" trigger="maiten-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/MaitenBLL.jpg" />
        <p><b>MAITÉN</b><br>(Maitenus Boaria)</p>
        <audio width="150px" controls="controls">
          <source src="assets/audio/Bonilla/Maiten1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button id="cipres-pb" fill="clear" size="cover"></ion-button>
  <ion-popover [isOpen]="isPopoverOpen" side="bottom"  alignment="center" trigger="cipres-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/CipresBLL.jpg" />
        <p><b>CIPRÉS</b><br>(Cupressus Macrocarpa)</p>
        <audio width="180px" controls="controls">
          <source src="assets/audio/Bonilla/CIPRES2.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button id="melia-pb" fill="clear" size="cover"></ion-button>
  <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="melia-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/MeliaBLL.jpg" />
        <p><b>MELIA</b><br>(Melia Azedarach)</p>
        <audio width="150px" controls="controls">
          <source src="assets/audio/Bonilla/MELIA1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button id="palma-pb" fill="clear" size="cover"></ion-button>
  <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="palma-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/PalmeraBLL.jpg" />
        <p><b>PALMA ABANICO</b><br>(Washingtonia Robusta)</p>
        <audio width="150px" controls="controls">
          <source src="assets/audio/Bonilla/PALMERA1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button id="ombu-pb" fill="clear" size="cover"></ion-button>
  <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="ombu-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/OmbuBLL.jpg" />
        <p><b>OMBÚ</b><br>(Phytolacca Dioica)</p>
        <audio width="150px" controls="controls">
          <source src="assets/audio/Bonilla/OMBU1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button id="pimiento-pb" fill="clear" size="cover"></ion-button>
  <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="pimiento-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/PimientoBLL.jpg" />
        <p><b>PIMIENTO</b><br>(Schinus Molle)</p>
        <audio width="150px" controls="controls">
          <source src="assets/audio/Bonilla/PIMIENTO1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button id="olivo-pb" fill="clear" size="cover"></ion-button>
  <ion-popover [isOpen]="isPopoverOpen" side="start" alignment="center" trigger="olivo-pb" triggerAction="click">
    <ng-template>
      <ion-content id="popup" class="ion-padding">
        <img class="popup-image" src="../assets/images/ArbolesApp/OlivoBLL.jpg" />
        <p><b>OLIVO DE BOHEMIA</b><br>(Elaeagnus Angustifolia)</p>
        <audio width="150px" controls="controls">
          <source src="assets/audio/Bonilla/OLIVO1.mp3" type="audio/mpeg" />
          Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
        </audio>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>

<ion-footer align="center">
  <ion-button class="map" fill="clear" style="width: 90%;" routerLink="/mapas">
    VOLVER<br>(Listado de mapas)
  </ion-button>
</ion-footer>