<ion-header>
  <ion-toolbar>
    <ion-title>test-map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/1.png" alt="Prueba de mapa de imágenes" width="300" height="214" border="0" usemap="#ohiggins">

<map name="ohiggins">

<area alt="Si clícas aquí irás a la página de inicio del tutorial de html" shape="circle" coords="692,788,624" href="/curso-de-html/">
</ion-content>
