<ion-header>
</ion-header>

<ion-content class="arboles-ciudadanos">
  <br><ion-img style="height: 200px;" class="logo-home" src="../assets/images/ArbolesCiudadanos2icon.png"></ion-img><br>
  <ion-card style="background-color: lightyellow; box-shadow: 1px 2px 3px 2px grey;">
    <ion-card-header>
      <h2>¿Quiénes somos?</h2>
    </ion-card-header>
    <ion-card-content>
      <b>Árboles Ciudadanos</b> es un Proyecto desarrollado en estrecho vínculo entre la Sociedad Chilena de Arboricultura y Organismo Teatro.
      <br><br>
      <b>Idea y dirección General</b><br>
      Emerson Velásquez
      <br><br>
      <b>Arboricultor</b><br>
      Eugenio Bastías
      <br><br>
      <b>Artista Sonoro</b><br>
      Matías Serrano
      <br><br>
      <b>Diseño Musical</b><br>
      Rafael Pastene
      <br><br>
      <b>Cuentos</b><br>
      Emerson Velásquez
      <br><br>
      <b>Conductor Podcast</b><br>
      Nelson Castro
      <br><br>
      <b>Locución</b><br>
      Daniela Bertini
      <br><br>
      <b>Desarrollador APP</b><br>
      José Gatica
      <br><br>
      <b>Ilustraciones</b><br>
      Belén Navarro
      <br><br>
      <b>Diseño gráfico</b><br>
      Pedro Gramegna
      <br><br>
      <b>Prensa</b><br>
      Claudia Palominos
      <br><br>
      <b>Audiovisual</b><br>
      Bastián Spencer
      <br><br>
      <b>Agradecimientos</b> a Camila Pérez, Ilustre Municipalidad El Bosque y Fundación Luz.
      <br><br>
      Si quieres saber más de nuestra iniciativa, visítanos en <a href="https://arbolesciudadanos.cl" target="_blank">www.arbolesciudadanos.cl</a>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img style="height: 70px; align-content:flex-start;" class="logo--footer-home" src="../assets/images/logo-cuadrado.png"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="height: 70px;" class="logo-footer-home" src="../assets/images/logo-sochar.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer align="center">
  <ion-icon size="large" routerLink="/home" name="home"></ion-icon>
</ion-footer>