#container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content.instrucciones {
    --background: -webkit-linear-gradient(orange, lightgreen);
    align-content: center;
  }

  audio {
    position: relative;
    width: 120px;
    height: 80px;
    border: 10px solid #fb9313;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 1px 2px 3px 2px grey;
  }

#boton-popup {
  background-color: transparent;
  width: 100px;
}

#boton-popup:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow*/
}

#popup-play {
color: green;
height: 80px;
width: 80px;
}

/*
  #play {

  }
*/

  #pause {
    height: 30px;
  }

  ion-accordion {
    background-color: #27AE60;
  }

/*
  ion-img {
    
  }
*/

  ion-img:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
  
  ion-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
