<ion-header>
</ion-header>

<ion-content class="instrucciones">
  <br>
  <ion-img style="height: 10em;" class="logo-home" src="../assets/images/ArbolesCiudadanos.png"></ion-img>

  <br><center>
    <b><h3>¿Cómo usar "Árboles Ciudadanos"?</h3></b><br>
      
      <audio width="300" controls="controls" autoplay="true">
      <source src="assets/audio/audioInstrucciones.mp3" type="audio/mpeg" />
      Ups! No eres tú, somos nosotros; parece que hay problemas para reproducir el audio. Lo solucionaremos muy pero muy pronto.
      </audio>

      <!--
      <button id="boton-popup" class="btn btn-primary" (click)="playSound()"><ion-icon id="popup-play" name="play-circle-outline"></ion-icon><h4></h4></button>

      <button id="boton-popup" ion-button  (click)="stopSound()" color="danger">
        <ion-icon id="popup-play" name="pause"></ion-icon>
      </button>
      -->


  <br><br></center>

  <center>
  <ion-card style="background-color: #64b3c3; color: white; box-shadow: 1px 2px 3px 2px grey;">
    <ion-card-header>
      <ion-carder-title>
      </ion-carder-title>
    </ion-card-header>
    <ion-card-content id="ins-card">
      Bienvenidos y bienvenidas a Árboles Ciudadanos, una APP donde podrás escuchar el sonido de los árboles. Nuestra aplicación es muy fácil de usar, siguiendo éstos simples pasos podrás descubrir el fascinante mundo de los árboles:
      <br><br>
      <b>1.-</b> Haz click en el ícono que dice “mapas” y elige la plaza en la cual te encuentras, en tu pantalla aparecerá el mapa seleccionado con el que podrás guiarte para llegar a cada árbol.
      <br>
      <b>2.-</b> Una vez hayas llegado al árbol, busca un espacio cómodo en el que te puedas quedar por un instante.
      <br>
      <b>3.-</b> Luego, haz click en el pequeño letrero que indica el nombre del árbol que has elegido en el mapa y ponte a escuchar.
      <br>
      <b>4.-</b> Para una mejor experiencia, te recomendamos usar audífonos.
      <br>
      <b>5.-</b> Por último, si eliges la plaza Bonilla-Lo Lillo te recomendamos dejar la Mélia para el final. Y si eliges la plaza O´Higgins te recomendamos dejar la Catalpa para el final.
      <br><br>
      <span>Cuida tus pertenencias.</span>
      <br>
    </ion-card-content>
    <ion-card-header>
      <h2 style="color: white;">¡Que disfrutes el viaje!</h2>
    </ion-card-header>
  </ion-card>
  </center><br>

</ion-content>

<ion-footer align="center">
  <ion-icon size="large" routerLink="/home" name="home"></ion-icon>
</ion-footer>
