<ion-header>
  <ion-toolbar>
    <ion-title>Déjanos tu testimonio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="testimonios">
  <center>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content id="relato">
      ¿Has tenido alguna historia significativa que te vincule o haya vinculado con algún árbol?<br>
      Si así fuese, ¿podrías contarnos tu experiencia?
      <br><br>
      Te invitamos a responder ésta breve encuesta a través del formulario que aparece más abajo.
      <br>
      ¡Queremos construir un gran enjambre de historias ciudadanas acerca de árboles!
      <br><br>
      Tu relato quedará alojado en <b><a href="https://open.spotify.com/show/2zSaW2G0CBloqpXP283fkA?si=9f0f5f4a59d34160" target="_blank">nuestro Podcast “Por las ramas” en Spotify</a></b>.
      <br><br>
      Puedes llenar el formulario haciendo click en el <u>siguiente botón</u>.
      <br><br><br>
      <ion-button id="button4" href="https://docs.google.com/forms/d/e/1FAIpQLSdp-WjqlXuVyD17QWj9Pm4L92VI_EETa203QbMWKIRXFxGI7w/viewform" target="_blank" routerDirection="forward" expand="full" size="large" fill="clear">
        <ion-icon slot="star" name="star"></ion-icon>
        Ir al formulario
      </ion-button>
      <br>

    </ion-card-content>
  </ion-card>
  </center>
</ion-content>

<ion-footer align="center">
  <ion-icon size="large" routerLink="/home" name="home"></ion-icon>
</ion-footer>