#container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content.testimonios {
    --background: -webkit-linear-gradient(lightgreen, lightblue);
  }

  ion-card {
    --background: -webkit-linear-gradient(lightblue, lightpink);
  }
  
  .img {
    width: 50%;
    height: 50%;
  }
  
  ion-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ion-button {
    height: 70px;
    color: lightyellow;
    font-weight: 600;
    font-size: medium;
    border-radius: 5px;
    box-shadow: #000 0 0 15px;
    background-color: #27AE60;
  }

  #relato {
    z-index: 2;
    position: relative;
  }

  button {
    background-color: #27AE60;
  }